@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
  }


*{
    font-family: 'Oxygen Mono', monospace; 
}
html{
    background-color: #2A213E;
}
body{
    margin: 0;
    width: 100vw ; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
    color: rgb(216, 197, 184);
    grid-column: 2;
    grid-row: 1;
}
h2{
    margin: 0;
    color: rgb(216, 197, 184);
    grid-column: 2;
    grid-row: 2;
}
p{
    margin:0;
    padding-top: 10px;
    color: rgb(216, 197, 184);
    grid-column: 2;
    grid-row: 3;
}
#container{
    display: grid;
    animation: fadeIn 5s;
    grid: auto-flow / 1fr;
}

.icon-box{
    display: inline-block;
    grid-column: 2;
    grid-row-end: auto;
}

i{
    color: rgb(216, 197, 184);
    font-size: 3em;
    padding-right: 10px;
}

.modal1,.modal2,.modal3,.modal4 {
    display: none;
    position: fixed;
    z-index: 1; 
    width: 500px; 
    height: 500px; 
    overflow: auto; 
    background-color: rgb(216, 197, 184);
    border-radius: 5px;
    animation: fadeIn .5s;

  }

  .modal-content {
    color: black !important ;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .fa-x
    {
        font-size: 2em;
        color: black !important ;
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 16px 12px 16px;
    
  }